{% extends 'authTemplates/authTemp.html' %}

{% block headblock %}

    <style>

        h1 
        {

            font-size: 4vw;

        }
        a 
        {

            text-decoration: none;
            color: white;

        }
        a:hover
        {

            color:  rgb(198, 198, 198);
        }
        .dField 
        {

            width: 100%;

        }

    </style>

{% endblock %}

{% block authblock %}
    <section class="TitleSection">
        <h1>Rejestracja</h1>
    </section>

    <section class="ButtonsSection">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" style="width: 100%; margin-top: 10px;">Zarejestruj</button>
            {% if messages %}
    
                {% for message in messages %}
                
                    <p style="color: red;">{{message}}</p>
                
                {% endfor %}
    
            {% endif %}
        </form>

        <a href="{% url 'Login-Page' %}" style="margin-bottom: 30px;"><p>Masz już konto? Zaloguj się!</p></a>

    </section>
{% endblock %} 
        
